@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme inline {
  --color-surface: #2f2e41;
  --color-on-surface: #ffffff;
  --color-we-blue: #009edd;
  --color-on-we-blue: #ffffff;
  --color-we-green: #039b00;
  --color-on-we-green: #ffffff;
  --color-we-gray: #999999;
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans);
}
